* {
    font-family: 'Montserrat', sans-serif;
}

:focus-visible {
    border: 3px solid #000;
}

/*input:focus-visible {*/
/*    border: 2px solid #000;*/
/*}*/

h1 {
    font-size: 32px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

p {
    font-size: 16px;
}

ul, ol {
    padding-left: 30px;
}

ul li {
    list-style-type: disc;
}


ol li{
    list-style-type: decimal;
}

.hr {
    border-bottom: 1px solid #dadde1;
    margin: 20px 16px;
}

.pagination {
    margin-top: 20px;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

ul.pagination li {
    list-style-type: none;
}

ul.pagination li.active {
    font-weight: 600;
    font-size: 20px;
    text-decoration: underline;
}

body {
    background: #e3e3e3;
}

.container {
    max-width: 1200px;
    width: 1200px;
    margin: 0 auto;
    background: #ffffff;
    padding: 25px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
}

.header_nav ul {
    display: flex;
    padding: 0;
    justify-content: center;
    gap: 40px
}

.header_nav ul h3{
   margin-bottom: 0;
}

.content_wrapper {
    width: 920px;
    margin: 0 auto;
}

.news_wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    flex-wrap: wrap;
    row-gap: 40px;
}

.news_item {
    width: 290px;
}

.news_item .news_banner {
    width: 100%;
    object-fit: cover;
    height: 200px;
}

.champions_wrapper {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    max-width: 920px;
    margin: 0 auto;
}

.champions_item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.champions_item .champion_banner {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

/*article show*/
img.article_image {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.img.article_image:after {clear:both; content:' '}



.information_tb {
    max-width: 100%;
    border: 1px solid;
    border-collapse: collapse;
    margin: 0 auto;
}

.information_tb td {
    border: 1px solid #dddddd;
    padding: 5px;
}


.carousel-inner {
    width: 100%;
    height: 450px;
}

.carousel {
    margin-bottom: 40px;
}

.carousel-item {
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pages_wrapper {
    width: 1000px;
    margin: 0 auto;
}
/*champion page */

.champion_wrapper {
    width: 100%;
    margin-bottom: 40px;
}
.champion_wrapper.champion_info_wrapper {
    /*display: flex;*/
    /*justify-content: center;*/
    /*gap: 40px;*/
    overflow: hidden;
    margin-top: 10px;

}

.champion_wrapper.champion_car_wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.champion_info_wrapper img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    float: left;
    margin-right: 40px;
    margin-bottom: 40px;
}

.champion_info {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*width: 530px;*/
    /*margin-top: 10px;*/
}

.champion_info h1 {
    margin-bottom: 20px;
}

.champion_bio {

}

.champion_bio > p {
    margin-bottom: 15px;
}

.champion_car_info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


/*auth register*/
.cross-close-btn {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.auth_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    color: #1877f2;
    text-decoration: underline;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.login-link {
    margin: 0 auto;
}

.auth_wrapper {
    height: calc(100vh - 50px);
    overflow: hidden;
}

.auth_form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 600px;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    border-radius: 10px;
}

.auth_form_inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form_input_text > input {
    width: 100%;
    height: 50px;
    /*margin-bottom: 20px;*/
    padding: 10px 20px;
    border: 1px solid #A2A8B1;
    border-radius: 8px;
    font-size: 20px;
    /*border-color: #1b74e4;*/
    box-shadow: 0 0 0 2px #e7f3ff;
    caret-color: #1b74e4;
}

.login_submit {

}

.btn {
    width: 100%;

    padding: 15px 20px;
    border-radius: 10px;
    font-size: 20px;

    font-weight: 700;
    text-align: center;
}

.btn-login {
    color: #ffffff;
    background-color: #1877f2;
}

.btn-register {
    color: #ffffff;
    background-color: #42b72a;
}

.admin_slider_image {
    width: 100%;
    max-height: 600px;
    object-fit: contain;
}

.admin_slider_image_wrapper {
    width: 600px;
    /*height: 600px;*/
}

.recommended {

}

.recommended h1 {
    margin-bottom: 20px;
}

.recommended ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header_nav ul li {
    list-style-type: none;
}

table {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
}
table th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
}

input.admin_input {
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    border: 1px solid #A2A8B1;
    border-radius: 8px;
    font-size: 20px;
    box-shadow: 0 0 0 2px #e7f3ff;
    caret-color: #1b74e4;
}

select.admin_input {
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    border: 1px solid #A2A8B1;
    border-radius: 8px;
    font-size: 20px;
    box-shadow: 0 0 0 2px #e7f3ff;
    caret-color: #1b74e4;
}
